

.drop-content-body {
  padding: 10px;
  width: 100%;
  font-weight: 200;
  border-left: 5px solid #FF0B00;
  margin-bottom: 5px;
  transition: all 300ms ease-in-out;

  h5 {
    font-weight: bold;
    font-size: 14px;
  }
  span {
    width: 100%;
    display: block;
    padding-top: 7px;
  }
  .description {
    font-size: 12px;
    color: #C9C9C9;
  }
}

.drop-content {
  background: #fff;
  max-width: 400px;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  // &:after {
  //   content:'';
  //  position: absolute;
  //  top: 100%;
  //  left: 0;
  //  right: 0;
  //  margin: 0 auto;
  //  width: 0;
  //  height: 0;
  //  border-top: solid 10px #fff;
  //  border-left: solid 10px transparent;
  //  border-right: solid 10px transparent;
  // }

}

.drop-element {
  // Set the initial state for our animation
  opacity: 0;
}

.drop-element.drop-after-open {
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  transition: opacity 300ms;

  opacity: 1;
}
