@import 'bootstrap';
$mainColor: #f1f1f1;
$colorBase: #DD121C;
$colorDarker: darken($colorBase, 36);
$colorDark: darken($colorBase, 45);
$colorMedium: desaturate(darken($colorBase, 26), 30);

/* Large desktops and laptops */
$desktop-lg: "(min-width: 1200px)";
/* Portrait tablets and medium desktops */
$desktop: "(min-width: 992px) and (max-width: 1199px)";
/* Portrait tablets and small desktops */
$tablet: "(min-width: 768px) and (max-width: 991px)";
/* Landscape phones and portrait tablets */
$mobile: "(max-width: 767px)";
/* Landscape phones and smaller */
$mobile-xs: "(max-width: 369px)";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import 'fullcalendar';
@import 'datepicker';
@import 'timepicker';
@import 'select/default';
@import 'animate';
@import 'drop';
@import 'register';

body {
  background: $mainColor;
  color: $colorDark;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
}

a {
  color: red;
  transition: all 500ms;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

.navbar{
  background: #fff;
  border: none;
  border-radius: 0;
}

.navbar-right {
  padding-top: 15px;
  color: #fff;

  &__logout {
    i {
      font-size: 20px;
      vertical-align: middle;
      &.ion-log-out {
        padding-left: 10px;
      }
    }
  }

  li {
    a {
      color: #222;
      font-weight: 200;



      &:hover, &:focus {
        background: transparent;
        color: #fff;
      }
    }
  }
}

.form-create {
  padding: 15px;
  background: #F5F5F5;

}

h1,h2,h3,h4,h5 {
  letter-spacing: 2px;
}

#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0900+0,ffce00+100 */
  background: #ff0900; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff0900 0%, #ffce00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff0900 0%,#ffce00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff0900 0%,#ffce00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0900', endColorstr='#ffce00',GradientType=1 ); /* IE6-9 */
  height: 80px;

  margin-bottom: 30px;

  @media #{$desktop-lg} {
    background-size: 100%;
  }

  .logo {
    padding-top: 15px;
    img {
      display: block;
      vertical-align: middle;
      margin-top: 1.5%;
      width: 240px;

      @media #{$mobile} {
        margin-top: 5%;
      }
      @media #{$mobile-xs} {
        margin:5% auto;
      }
    }

    span {
      padding-top: 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .user-logged {
    display: inline-block;
    padding-top: 25px;
    font-size: 16px;
    font-weight: 200;
    color: #594416;
    i {
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
    }
    a {
      display: inline-block;
      margin-left: 15px;
      color: #594416;
    }
  }
}

.form-control, input{
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  font-weight: 200;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

#event-form {
  .Select-control {
    border: none;
    border-bottom: 1px solid #B9B9B9;
    border-radius: 0;
    color: $colorDark;
    background: transparent;
  }

  .form-control, input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #B9B9B9;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 10px;
    transition: all border 100ms;
    padding-top: 4px;
    font-weight: 200;

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $colorBase;
    }
  }
}

.panel-default {
  border: none
}

#events-admin {
  .panel-default {
    .panel-heading{
      background: #fff;
      border-left: 5px solid red;
      color: #fff;
      padding: 5px 15px;
      text-align: center;
      float: left;
      width: 100%;

      h4 {
        text-align: left;
        color: #111;
        float: left;
      }

      a {
        text-align: right;
        float: right;
        font-size: 32px;
        display: block;
      }
    }

    .panel-body {
      float: left;
      width: 100%;
      padding: 0;
      h4 {
        text-align: center;
      }
    }
  }
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: none;
}

.btn {
  background: transparent;
  border: 1px solid $colorBase;
  letter-spacing: 1px;
  text-shadow: none;
  color: $colorBase;
  transition: all 500ms;
    &:hover {
    background: darken($colorBase, 2);
    color: #fff;
  }
}

td.options{
  .btn {
    margin-top: 3px;
  }
}

.btn-default {
  padding: 11px 5px;
  background: transparent;
}

.btn-primary {
  background: $colorBase;
  box-shadow: none;
  border: none;
  color: #fff;
  padding: 12px 5px;

  &:hover {
    background: darken($colorBase, 20);
    color: #fff;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.list-titles {
  li {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-weight: bold;
  }
}

.list {
  li {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: middle;
  }
}

.list-events {
  background: #fff;
  padding: 15px;
}
.title-list {
  margin: 0 0 30px 0;
  display: block;
}

.form-group {
  .btn {
    margin-right: 10px;
  }
}

#calendar {
  .fc-button-group {
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    padding: 5px 0;

    button {
      padding: 0 20px;
    }
  }

  .fc-state-active {
    color: red;
  }
}

#calendar-section {
  .Select-control {
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
  }
}

.btn{

  &__conventions {
    color: #333;
    font-size: 14px;
    vertical-align: middle;
    display: block;
    padding: 10px;
    float: right;
  }

  &__download {
    min-width: 150px;
    text-align: center;
    padding: 5px 10px 3px 10px;
    border: solid 1px red;
    float: right;
    text-transform: uppercase;
    i {
      font-size: 22px;
      vertical-align: middle;
    }
    &:hover {
      background: red;
      color: #fff;
    }

  }

}


#event-form {
  padding: 15px;
}

.sync-tabs {
  .panels {
    margin: 30px 0;
    float: left;
  }
}

.tabs-menu{
  padding: 0;
  margin: 30px 0;

  li {
    float: left;
    width: 33.3%;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
    transition: all 250ms;
    text-transform: uppercase;

    &.active {
      border-bottom: 4px solid red;
      a {
        color: red;
      }
    }


    a {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      color: #000;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

.calendar-options-checks {
  margin: 30px auto;
  label {
    font-weight: 400;
    text-transform: uppercase;
    color: #3e3e3e;
    font-size: 16px;
  }
  .checkbox-inline {
    margin-right: 15px;
  }
}

.tab-panel-1 {
  padding: 0 30px;
  text-align: center;
}

.hidden {
  transition: all 200ms;
}

.modal-sync-calendars {

}

.tab-panel-2, .tab-panel-3 {
  .radio-inline, .checkbox-inline {
    line-height: 1.1;
  }

  ul {

    li{
      float: left;
      width: 100%;
      margin: 15px 0;
      font-size: 15px;
      color: #4f4f4f;
      font-weight: 200;

      input {
        width: 60%;
        margin: 0 auto;
      }

      .calendar-options-checks {
        margin: 0 auto;
        float: none;
        font-size: 14px;
      }

    }

  }
}

.gevent {
  cursor: default;
  &.fc-event[href] {
    cursor: default;
  }
}

/*!
 * https://github.com/arqex/react-datetime
 */

.rdt {
	position: relative;
}

.rdtPicker {
	display: none;
	position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}

.rdtOpen .rdtPicker {
	display: block;
}
.rdtStatic .rdtPicker {
	box-shadow: none;
	position: static;
}

.rdtPicker .rdtTimeToggle {
	text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
	border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
	display: block;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot{
	border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
	border: none;
	background: none;
	cursor: pointer;
}
.rdtPicker button:hover {
	background-color: #eee;
}

.rdtPicker thead button {
	width: 100%;
	height: 100%;
}

td.rdtMonth,
td.rdtYear {
	height: 50px;
	width: 25%;
	cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
	background: #eee;
}

.rdtCounters {
	display: inline-block;
}

.rdtCounters > div{
	float: left;
}

.rdtCounter {
	height: 100px;
}

.rdtCounter {
	width: 40px;
}

.rdtCounterSeparator {
	line-height: 100px;
}

.rdtCounter .rdtBtn {
	height: 40%;
	line-height: 40px;
	cursor: pointer;
	display: block;

	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
	background: #eee;
}
.rdtCounter .rdtCount {
	height: 20%;
	font-size: 1.2em;
}

.rdtMilli {
	vertical-align: middle;
	padding-left: 8px;
	width: 48px;
}

.rdtMilli input {
	width: 100%;
	font-size: 1.2em;
	margin-top: 37px;
}

.rdtDayPart {
	margin-top: 43px;
}
