#register, #login, #recover {
  margin: 0 auto;
  float: none;
  background: rgba(255, 255, 255, .2);

  border: 1px solid #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-top: 100px;

  h5 {
    color: #fff;
    text-align: center;
  }

  .logo {
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    color: #fff;
    padding-top: 15px;
    font-weight: 200;
    margin-bottom: 30px;
    span {
      padding-top: 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .panel {
    background: transparent;

    .form-control{
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      color: #fff;
      &::-webkit-input-placeholder { color:#fff }
      &::-moz-placeholder { color:#fff } /* firefox 19+ */
      &:-ms-input-placeholder { color:#fff } /* ie */
      &:-moz-placeholder { color:#fff }
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }

  }

  .btn {
    width: 100%;
    background: #fff;
    text-transform: uppercase;
    border: none;
    color: #444;
    border-radius: 0;
    &:hover {
      color: #333;
    }
  }
}
