<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>Calendario BVC</title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/dist/main.css">
</head>
<body>

<div id="app-calendar"></div>

<script id="drop-template">
  <div class='drop-content-body'>
  <h5>${title}</h5>
  <% if(location){ %>
  <span><b><i class="icon ion-ios-location"></i> Lugar:</b> ${ location }</span>
  <%  } %>
   <span class="date-start"><b><i class="icon ion-calendar"></i> Fecha:</b> ${ start } - ${ end }</span>
  <span class="description">${ description }</span>
  </div>
</script>

<script src="/js/dist/bundle.js"></script>
</body>
</html>
