//
// Multi-Select
// ------------------------------


// Base

.Select--multi {

	// control: reduce padding to allow for items
	.Select-control {}

	// add margin to the input element
	.Select-input {
		vertical-align: middle;
		// border: 1px solid transparent;
		margin-left: $select-padding-horizontal;
		padding: 0;
	}

	// reduce margin once there is value
	&.has-value .Select-input {
		margin-left: $select-item-gutter;
	}

}

// Items

.Select-item {
	background-color: $select-item-bg;
	border-radius: $select-item-border-radius;
	border: 1px solid $select-item-border-color;
	color: $select-item-color;
	display: inline-block;
	font-size: $select-item-font-size;
	margin-left: $select-item-gutter;
	margin-top: $select-item-gutter;
	vertical-align: top;
}

// common
.Select-item-icon,
.Select-item-label {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}

// label
.Select-item-label {
	@include border-right-radius( $select-item-border-radius );
	cursor: default;
	padding: $select-item-padding-vertical $select-item-padding-horizontal;

	.Select-item-label__a {
		color: $select-item-color;
		cursor: pointer;
	}
}

// icon
.Select-item-icon {
	cursor: pointer;
	@include border-left-radius( $select-item-border-radius );
	border-right: 1px solid $select-item-border-color;

	// move the baseline up by 1px
	padding: ($select-item-padding-vertical - 1) $select-item-padding-horizontal ($select-item-padding-vertical + 1);

	&:hover,
	&:focus {
		background-color: $select-item-hover-bg;
		color: $select-item-hover-color;
	}
	&:active {
		background-color: $select-item-border-color;
	}
}

.Select--multi.is-disabled {
	.Select-item {
		background-color: $select-item-disabled-bg;
		border: 1px solid $select-item-disabled-border-color;
		color: $select-item-disabled-color;
	}
	// icon
	.Select-item-icon {
		cursor: not-allowed;
		border-right: 1px solid $select-item-disabled-border-color;

		&:hover,
		&:focus,
		&:active {
			background-color: $select-item-disabled-bg;
		}
	}
}
